.home-page {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 90px;
}

@media screen and (max-width: 625px) {
	.home-page {
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 405px) {
	.home-page {
		padding: 30px 10px;
	}
}
