.movies {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}
.render-movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px 100px;
}

.render-movies :nth-child(21) {
	margin-bottom: 100px;
}

.loaders {
	font-size: 3rem;
	margin-top: 100px;
}

@media screen and (max-width: 700px) {
	.render-movies {
		padding: 0px 50px;
	}
}
